$button-header-color: rgb(10, 10, 30);
$button-header-size: 200px;

// Кольори

$color-white: #fff;
$color-black: #000;
$color-green: rgb(107, 142, 35);
$color-light-green: rgb(144, 238, 144);
$color-bisque: bisque;
$blur-bg: rgba(255, 255, 255, 0.3);

// Шрифти

$font-main: 'Bungee', sans-serif;

// Розміри

$border-radius-small: 5px;
$border-radius-large: 50px;
$button-height: 80px;
$button-width: 250px;
$font-large: 40px;
$font-medium: 35px;
$font-extra-large: 70px;
